/* VERSÃO MONITOR */

@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

h1 {
    font-size: 2em;
    background-color: rgb(161, 161, 161);
    text-align: center;
    padding: 10px;
}

ul {
    background-color: gray;
}

li {
    display: inline-block;
    background-color: rgb(59, 59, 59);
    padding: 10px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 10px;
    text-align: justify;
}

h2 {
    font-size: 1.5em;
}

p {
    padding-top: 10px;
}

